<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FAQ - Puppies Passion</title>
    <th:block th:include="~{/fragments/head.html}"/>
</head>

<body>
<!-- Navigation -->
<th:block th:include="~{/fragments/header.html}"/>

<div class="full-background">
    <div class="container">
        Can I Change My Order Or Other Information Like Address After Placing The Order?
        We highly encourage you to double check sizes and addresses prior to placing an order with us, however we understand that errors might be made. As we try to process the orders within 24 hours or receipt, if a change needs to be made to your order please contact us at puppiespassion@gmail.com ASAP so we will do our best to accommodate that change. If the order has already been processed or marked as shipped from our fulfillment center, we cannot make changes to the order.

        How Long Does The Order Processing Take?
        Orders normally take 24-48 hours to process – excluding weekends and holidays. During Holiday seasons, processing times may take longer due to high order volume.

        How Long Is The Shipping Time?
        We try to find the most appropriate shipping method based on the destination. Some items are shipped from warehouses in the U.S. and other items will be sent from warehouses in China.
        Shipping Time to the US, UK, Canada, and Australia: 14 - 29 Business days
        Shipping Time to the other countries: 15 - 40 Business days
        There are circumstances that are out of our control (like customs and security checks, natural disasters, holidays, weather, etc.) those may cause shipping postponements or delays. While most of the packages will arrive on time, there may be circumstances and delays that our logistic partners may experience. For this reason, we cannot guarantee the exact delivery time.

        Where Is My Order?
        If you order an item from our store, then you will definitely receive a confirmation email from us containing your order specifications. You can simply use our order lookup tool to see the latest status of your order, and more, track your item if its information has been updated by your local post.

        I Haven't Received A Confirmation Email After Placing The Order, What Should I Do?
        Please make sure your email is correct when you place an order. Kindly check your SPAM folder to see if your confirmation email was sent there. If there is still no confirmation email, please send an email to our support team at puppiespassion@gmail.com

        Will I Receive A Tracking Number To Track My Order?
        Based on which fulfillment center your item is shipped from, you will be provided a tracking number that enables you to track your item 4-6 days after it has been shipped. However, as each individual product may be shipped from a different fulfillment center across the globe, occasionally, we may not provide the tracking number for a product, our company has fully insured the packages and any missing items will be reshipped free of charge to you.

        Do I Have To Pay Any Tariffs, Customs Fees, or Import Tax For My Orders?
        Prices revealed on your respective receipt MIGHT be different from what you ordered but do not worry! Usually what our fulfillment center would do is to mark as extremely low prices or mark the items as gifts altogether. This happens to prevent tariffs/customs/import duties being incurred on your end as for certain countries these additional charges are extremely costly.

        I Have A Question Which Is Not Answered, What Should I Do?
        If you have any questions or concerns please email us at puppiespassion@gmail.com

    </div>
</div>

<footer> FOOTER </footer>

</body>
</html>

